<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Журнал</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<title>Bootstrap Example</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Онлайн Журнал</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% if user.is_authenticated%}
            <li class="nav-item">
                <a class="nav-link active">Привет, {{user.username}}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
                </li>
                {% endif %} 
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Студенты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'subjects' %}">Предметы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'groups' %}">Группы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'teachers' %}">Преподаватели</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}
    {% endblock content%}
</body>
</html>