{% extends 'base.html' %}

{% block content %}
    <div class="students-content" style="
    position: relative;
    padding: 1rem;
    margin: 1rem -0.75rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0;">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Группа</th>
                <th scope="col">Возраст</th>
                <th scope="col">Обновить</th>
                <th scope="col">Удалить</th>
                <th scope="col">Оценки</th>
                </tr>
            </thead>
            <tbody>
                {% for student in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.group}}</td>
                        <td>{{student.age}}</td>
                        <td><a class="btn btn-success" href="{% url 'update_student' student.id %}">Обновить</a></td>
                        <td><a class="btn btn-danger" href="{% url 'delete_student' student.id %}">Удалить</a></td>
                        <td><a class="btn btn-primary" href="{% url 'grades_view' student.id %}">Посмотреть</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'add_student' %}">Добавить студента</a>
    </div>
{% endblock content %}